/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-lug-2016, 14.21.07
    Author     : davide
*/

body {
    background-color: white;
    color: black;
}

.frame {
    border: 5px solid #003399;
    background-color: #99ccff;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    width: 50%;
    height: 300px;
    position: fixed;
    left: 0px;
    top: 0px;
}

 <nav class="sidebar1">
                <h2>Esempi di collegamento</h2>
                <ul>
                    <li> 
                        <a href="http://people.unica.it/davidespano/" target="_blank" 
                           title="selezionalo per aprire la pagina su un nuovo tab">
                            Home page del docente
                        </a>
                    </li>
                    <li>
                        <a href="prova-collegamento.html">
                            Seconda pagina del sito
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="sidebar2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis lacus vitae metus pretium pharetra vel et mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas mollis vulputate quam nec accumsan. Cras eu ligula scelerisque, finibus massa in, porta diam. Sed malesuada, felis et bibendum hendrerit, erat quam ultricies nulla, a rhoncus augue massa nec ligula. Pellentesque eleifend dolor et nisl suscipit, in semper est eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                Suspendisse id purus placerat, vehicula nulla eget, egestas dolor. Nunc tempus auctor arcu id consectetur. Sed pharetra ligula a rhoncus porttitor. Nunc commodo cursus diam. Pellentesque ultricies feugiat justo, id ullamcorper tellus tincidunt eu. Proin facilisis, velit ac aliquet mollis, neque magna vestibulum leo, eu aliquam risus arcu a erat. Morbi pharetra bibendum tortor ac vulputate. Aenean facilisis fringilla nibh ac sodales. Sed molestie neque dolor, ac sagittis nulla sodales non. Integer imperdiet lacus id libero consectetur, sed volutpat ipsum sodales. Aenean aliquet nibh sed diam facilisis, sed pellentesque lacus sagittis. Aliquam aliquet gravida est, sit amet fringilla purus interdum vitae.
            </div>
