/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-lug-2016, 14.21.07
    Author     : davide
*/

body {
    background-color: white;
    color: black;
}

.frame {
    border: 5px solid #003399;
    background-color: #99ccff;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    width: 50%;
    height: 300px;
    position: fixed;
    left: 0px;
    top: 0px;
}

 